# Virtual environment
venv/
.env
*.env

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# IDE / Editor files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Render build files
*.sqlite3
